@import 'bourbon';

@mixin overlay($opacity) {
	.overlay {
		background-color: rgba(0,0,0,$opacity);
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
}

@keyframes scal {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.4);
	}
	100% {
		transform: scale(1);
	}
}
