$output-bourbon-deprecation-warnings: false !default;
@import 'bourbon';

$easeInCubic: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$default-fontsize: 16px;

//Шрифты
$main-font-family: 'Oswald', 'Arial', sans-serif;
$font-merri: 'Merriweather', sans-serif;


/********Меню*******/
$header-top-color: #000000;
$top-menu-border-color: #d3d3d3;

$color-orange: #FFAB00;
$color-white: #FFFFFF;
$color-black: #000000;
$color-light-red: #EE3D43;

$bgc-mobile-menu: #292929;
/******Основные стили**********/
$slider-caption-bgc: rgba(255,180,0,.5);
//Картинки для блоков
$block-url-new_collections: url("/static/img/last_season.jpg");
$block-color-new_collections: #34da94;
$block-url-new_arrivals: url("/static/img/new_arrivals.jpg");
$block-color-new_arrivals: #24A0A9;
$block-url-subscribe: url("/static/img/subscribe.jpg");
$block-color-subscribe: #51DC98;
$block-url-all_catalog: url("/static/img/all_products.jpg");
$block-color-all_catalog: #51DC98;