$output-bourbon-deprecation-warnings: false !default;
@import "bourbon";
@import "reset.scss";
@import 'mixin.scss';
@import 'fonts.scss';
@import 'vars.scss';
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');

$main-font-family: 'Oswald', 'Open Sans', sans-serif;
$font-source: 'Source Sans Pro', sans-serif;
$default-fontsize: 16px;
* {
	box-sizing: border-box;
}
body {
	font-size: $default-fontsize;
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}
.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 10px;
	display: flex;
	justify-content: center;
}
@mixin overlay($opacity) {
	.overlay {
		background-color: rgba(0,0,0,$opacity);
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
}

header {
	.header_info {
		margin: 15px 0;
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
		.user_info {
			display: flex;
			align-items: center;
			.icon {
				float: left;
				margin-right: 5px;
				font-size: em(32px); 
			}
			.user_control {
				float: left;
				span {
					color: #333333;
					font-family: $main-font-family;
					cursor: pointer;
				}
				.sign_in {
					transition: color .3s ease;
					&:hover {
						color: lighten(#ffab00, 20%);
					}
				}
				.sign_up {
					color: #ffab00;
					transition: color .3s ease;
					&:hover {
						color: darken(#ffab00, 20%);
					}
					&:before {
						content: "| ";
						color: #333333;
					}
				}
			}
		}
		.logo {
			width: 40%;
			margin: 0 auto;
			img {
				width: 100%;
			}
		}
		.shop_info {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			i {
				font-size: em(36px);
				cursor: pointer;
				transition: color .3s ease;
				&:hover {
					color: lighten(#000, 50%);
				}
			}
			span.info_count {
				font-family: $main-font-family;
				display: block;
				position: absolute;
				width: 25px;
				height: 25px;
				border-radius: 50%;
				background-color: #666;
				color: #fff;
				font-size: em(12px);
				line-height: 25px;
				text-align: center;
				font-weight: bold;
				top: 15%;
				cursor: default;
			}
			.compare_info {
				position: relative;
				margin: 0 20px;
				span.info_count {
					left: -40%;
					background-color: #f44336;
				}
			}
			.products_info {
				position: relative;
				i {
					font-size: em(33px);
				}
				span.info_count {
					left: -15%;
					background-color: #ffab00;
				}
				p {
					font-family: $main-font-family;
					letter-spacing: 0.7px;
					display: inline;
					&:after {
						letter-spacing: 0;
						content: ' руб.'
					}
				}
			}
		}
	}
}
.menu_container {
	max-width: 100%;
	min-width: 320px;
}
.header_menu {
	.header_container {
		max-width: 1140px;
		margin: 0 auto;
		padding: 0 10px;
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
	}
	border-top: 1px solid #bfbfbf;
	border-bottom: 1px solid #bfbfbf;
	width: 100%;
	padding: 10px;
	margin: 5px 0 25px;
	.search {
		height: 30px;
		position: relative;
		#searchBtn {
			font-size: em(35px);
			line-height: 30px;
			cursor: pointer;
		}
		.search_input {
			position: absolute;
			display: none;
			top: 0;
			.searchText {
				border: 1px solid rgba(0,0,0,.2);
				height: 30px;
				padding: 0 40px 0 10px;
				font-family: $main-font-family;
				&:hover {
					outline: none;
				}
				&:focus {
					outline: none;
				}
			}
			#search {
				position: absolute;
				right: 0;
				top: 0;
				height: 30px;
				width: 30px;
				padding: 0;
				border: none;
				background-color: transparent;
				cursor: pointer;
				&:hover i{
					transform: scale(1.3);
				}
				&:focus {
					outline: none;
				}
				i {
					transition: transform .5s ease;
					font-size: em(20px);
				}
			}			
		}


	}
	$easeInCubic: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	.navigation {
		display: flex;
		justify-content: center;
		>ul {
			display: inline;
			li {
				display: block;
				float: left;
				padding: 5px 15px;
				border-radius: 10px;
				cursor: pointer;
				transition-property: color background-color;
				transition: .3s ease;
				&:hover {
					background-color: #ffab00;
				}
				&:hover a {
					color: #fff;
				}
				a {
					font-family: $main-font-family;
					letter-spacing: 1px;
					text-transform: uppercase;
					color: #000;
				}
			}
		}
		.mobile-menu {
			display: none;
			height: 30px;
			.mobile-trigger {
				display: block;
				width: 30px;
				height: 30px;
				transform: rotate(0deg);
				&:hover span {
					background-color: rgba(0,0,0,0);
				}
				&:hover span:before {
					transform: rotate(45deg);
					margin-top: 0;
				}
				&:hover span:after {
					transform: rotate(-45deg);
					margin-top: 0;
				}
				span, span:before, span:after {
					width: 35px;
					height: 6px;
					background-color: #000;
					display: block;
					transition: all .4s ease;
				}
				span {
					position: relative;
					top: 12px;
					&:before, &:after {
						position: absolute;
						content: "";
					}
					&:before {
						margin-top: -12px;
					}
					&:after {
						margin-top: 12px;
					}
				}
			}
			.menu-main-overlay {
				background: #000;
				opacity: 0.7;
				display: none;
				position: fixed;
				top: 0 ;
				bottom: 0;
				left: 0;
				right: 0;
				margin: 0;
				z-index: 99999;
				transition: all 0.3s ease 0.98s;
				&.active {
					transition: all 0.6s ease 0s;
				}
			}
			.menu-main-wrap {
				position: absolute;
				width: 60%;
				height: 100%;
				margin: 0px 0 0 -30%;
				top: 100px;
				left: 50%;
				visibility: hidden; 
				z-index: 269700;
				overflow: hidden;
				padding: 0 0px;
				height: auto;
			}
			ul.ui.menu {
				padding: em(40px) 0px; 
				li { 
					display: block;
					list-style: none; 
					position: relative; 
					padding: em(10px) 0; 
					text-transform: uppercase; 
					font-size: em(18px);
					font-weight: 300;
					a {
						display: block;
						padding: em(20px);
						font-family: $main-font-family;
						letter-spacing: 3px;
						color: white;
						transition: background-color .5s ease;
						&:hover {
							background-color: darken(#34da94, 30%);
						}
					}					
				}				
			}
			.menu-effect_1 {
				text-align: center;
				background: darken(#34da94, 15%);
				width: 0px;
				height: 100%;
				margin: 0 auto;
				opacity: 0;
				visibility: hidden;
				transition: all 0.3s ease 0.98s;
				&.active {
					width: 700px;
					opacity: 1;
					visibility: visible;
					transition: all 0.6s ease 0s;
					li {
						transform: translate3d(0px, 0px, 0px);
						visibility: visible;
						transition: all 0.5s ease 0.58s;
						&:nth-child(odd) {
							transform: translate3d(0px, 0px, 0px);
						}
						&:nth-child(2) {
							transition-delay: 0.76s;
						}
						&:nth-child(3) {
							transition-delay: 0.84s;
						}
						&:nth-child(4) {
							transition-delay: 0.90s;
						}
						&:nth-child(5) {
							transition-delay: 0.96s;
						}
						&:nth-child(6) {
							transition-delay: 1.02s;
						}
						>span {
							visibility: visible;
							width: em(40px); 
							transform: translate3d(0px, 0px, 0px);
							margin: em(20px) 0 0 em(-20px);
							left: 50%;
							transition: all 0.5s ease 0.74s;
						}
					}					
				}
				li {
					visibility: hidden;
					transform: translate3d(280px, 0px, 0px);
					transition: all 0.6s $easeInCubic 0s;
					&:nth-child(odd) {
						transform: translate3d(-280px, 0px, 0px);
					}
					>span {
						display: block; 
						margin: 0 auto; 
						position: absolute; 
						visibility: hidden; 
						height: em(1px);
						width: em(140px);
						margin: em(20px) 0 0 em(-70px);
						left: 50%;
						background: gray;
						transform: translate3d(0px, 0px, 0px);
						transition: all 0.6s $easeInCubic 0s;
					}
				}
			}

		}
	}
	.social_network {
		text-align: right;
		i {
			font-size: em(30px);
			margin-right: 10px;
			cursor: pointer;
			transition: color .3s ease;
			&:last-child {
				margin-right: 0;
			}
			&:hover {
				color: lighten(#000, 40%);
			}
		}
	}
}


#main_slider {
	margin: 20px 0;
	.main_slider {
		position: relative;
		&:hover .callbacks_nav{
			opacity: 1;
		}
		.callbacks_nav {
			position: absolute;
			z-index: 999999;
			color: white;
			display: block;
			width: 40px;
			height: 40px;
			opacity: .1;
			background-image: url("/static/img/arrow_black.svg");
			background-size: cover;
			top: 50%;
			transition-property: background opacity;
			transition: .3s ease;
			&.prev {
				left: 0;
				transform: translateY(-50%) rotate(180deg);
			}
			&.next {
				right: 0;
				transform: translateY(-50%);
			}
			&:hover {
				background-image: url("/static/img/arrow_white.svg");
			}
		}
		.caption {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: rgba(255,180,0,.5);
			padding: 50px 100px;
			text-align: center;
			font-family: $main-font-family;
			text-transform: uppercase;
			color: #fff;
			h4 {
				font-size: em(20px);
				letter-spacing: 5px;
				margin: 5px 0;
			}
			h2 {
				font-size: em(50px);
			}
		}		
	}
}



.blocks {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 10px;
	color: #fff;
	display: grid;
	grid-template-columns: 290px 1.5fr 1fr 1.5fr;
	grid-template-rows: 320px 0 320px;
	grid-gap: 20px;
	grid-template-areas: 
	    "new_collections season_sale season_sale new_arrivals"
	    "new_collections season_sale season_sale new_arrivals"
	    "new_collections subscribe all_catalog all_catalog"
	    "new_collections subscribe all_catalog all_catalog";
	.block {
		background-color: #ebebeb;

		&.new_collections {
			grid-area: new_collections;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			background-image: url("/static/img/qweqweqwe.jpg");
			background-size: cover;
			@include overlay(.2);
			.collection_info {
				text-align: center;
				font-family: $font-source;
				color: #fff;
				text-transform: uppercase;
				z-index: 9999;
				.collection_name {
					margin: 30px;
					h2 {
						font-weight: bold;
						font-size: em(30px);
						letter-spacing: 1.5px;
					} 
					p {
						display: block;
						margin: 5px;
						font-weight: 300;
						font-size: em(18px);
						letter-spacing: 1.7px;
					}					
				}
				a {
					font-weight: bold;
					font-size: em(14px);
					color: #fff;
					padding: 15px 30px;
					background-color: #34da94;
					transition-property: background-color color;
					transition: .6s ease;
					&:hover {
						background-color: darken(#34da94, 10%);
						color: darken(#fff, 90%);
					}
				}
			}
		}
		&.season_sale {
			grid-area: season_sale;
			display: flex;
			flex-direction: column;
			justify-content: center;
			background-color: #EE3D43;
			.season_sale_info {
				text-align: center;
				font-family: $font-source;
				p {
					font-weight: 300;
					letter-spacing: 5px;
					color: #fff;
					font-size: em(16px);
					text-transform: uppercase;
				}
				h1 {
					line-height: 0.8;
					color: #fff;
					font-weight: bold;
					font-size: em(130px);
					text-transform: uppercase;
				}
			}
		}
		&.new_arrivals {
			position: relative;
			grid-area: new_arrivals;
			display: flex;
			flex-direction: column;
			justify-content: center;
			background-image: url("/static/img/_fjlL7HL91M.jpg");
			background-size: cover;
			@include overlay(.3);
			.arrivals_info {
				text-align: center;
				text-transform: uppercase;
				font-family: $font-source;
				z-index: 9999;
				h1 {
					font-size: em(32px);
					color: #fff;
					font-weight: bold;
					margin-bottom: 25px;
					letter-spacing: 2px;
				}
				a {
					font-weight: bold;
					font-size: em(14px);
					color: #fff;
					padding: 15px 30px;
					background-color: #24A0A9;
					transition: background-color .3s ease;
					&:hover {
						background-color: darken(#24A0A9, 10%);
					}
				}
			}
		}
		&.subscribe {
			position: relative;
			grid-area: subscribe;
			display: flex;
			flex-direction: column;
			justify-content: center;
			background-image: url("/static/img/1.jpg");
			background-size: cover;
			@include overlay(.3);
			.formSubscribe {
				z-index: 9999;
				margin: 0 auto;
				input {
					font-family: $font-source;
					font-weight: bold;
					border: none;
					outline: none;
					padding: 5px 10px;
					float: left;
					height: 30px;
					&::placeholder {
						font-size: em(13px);
						color: rgba(0,0,0,.5);
						text-transform: uppercase;
					}
				}	
				button {
					position: relative;
					font-family: $font-source;
					height: 30px;
					width: 40px;
					font-weight: bold;
					padding: 0;
					border: none;
					background-color: #51DC98;
					cursor: pointer;
					&:hover i {
						color: #1F3779;
						animation-name: scal;
						animation-duration: .6s;
					}
					i {
						color: rgba(255,255,255,.7);
						display: block;
						line-height: 30px;
						font-size: em(20px);
						transition: color .6s ease;
					}
				}								
			}
			.get_subscribe {
				text-align: center;
				z-index: 9999;
				text-transform: uppercase;
				font-family: $font-source;
				h2 {
					font-size: em(26px);
					color: #fff;
					font-weight: 300;
					margin-bottom: 25px;
					letter-spacing: 2px;
				}
			}
		}
		&.all_catalog {
			grid-area: all_catalog;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			background-image: url("/static/img/156763701506887283.jpg");
			align-items: center;
			background-size: cover;
			@include overlay(.2);
			.catalog_info {

				text-align: center;
				z-index: 9999;
				text-transform: uppercase;
				font-family: $font-source;
				h2 {
					font-size: em(22px);
					color: #fff;
					font-weight: 800;
					margin-bottom: 25px;
					letter-spacing: 1px;
				}			
			}
			.get_catalog {
				position: relative;
				display: block;
				background-color: darken(#51DC98, 10%);
				z-index: 9999;
				text-align: center;
				overflow: hidden;
				padding: 15px 40px 15px 10px;
				font-weight: 800;
				font-size: em(20px);
				text-transform: uppercase;
				color: #fff;
				transition-property: background-color color;
				transition: .9s ease;
				&:hover {
					background-color: lighten(#51DC98, 10%);
					color: darken(#fff, 90%);
				}
				&:hover::after {
					border: 12px solid #51DC98;
					border-left: 12px solid #fff;
					right: -5px;
				}
				&:after {
					position: absolute;
					display: block;
					content: '';
					right: 0;
					top: 50%;
					border: 10px solid #51DC98; 
					border-left: 10px solid #fff; 
					transform: translateY(-50%);
					background-color: #fff;
					transition: all .5s ease;
				}
			}
		}
	}
}
footer {
	width: 100%;
	background-color: #292929;
	padding: 60px 0;
	color: #fff;
	.container {
		justify-content: space-between;
	}
	.footer-left {
		width: 33%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		.footer_logo {
			padding: 10px;
			border: 3px solid #ffab00;
			text-align: left;
			text-transform: uppercase;
			font-family: $main-font-family;
			font-weight: bold;
			font-size: em(30px);
			letter-spacing: 2px;
			margin-bottom: 30px;
			color: #ffab00;
		}
		.footer_about {
			font-family: $font-source;
			letter-spacing: 0.5px;
			font-size: em(14px);
			color: rgba(255,255,255,.8);
			font-weight: normal;
			padding: 0 20px 0 0;
			line-height: 1.4;
			margin-bottom: 30px;
		}
		.copyright {
			font-family: $main-font-family;
			font-weight: 300;
			line-height: 1.4;
			letter-spacing: 1px;
			text-transform: uppercase;
		}
	}
	.footer-center {
		width: 23%;
		display: flex;
		justify-content: space-around;
		nav {
			h4 {
				font-family: $main-font-family;
				letter-spacing: 0.6px;
				text-align: center;
				font-size: em(20px);
			}

			ul {
				margin-top: 10px;
				li {
					padding: 10px;
					transition-property: color background-color;
					transition: .3s ease;
					cursor: pointer;
					&:hover {
						background-color: #ffab00;
					}
					&:hover a { 
						color: #000;
					}
					a {
						font-family: $main-font-family;
						font-size: em(16px);
						color: #fff;
					}
				}
			}
		}
	}
	.footer-right {
		width: 33%;
		.footer_contact {
			margin-bottom: 30px;
			h3 {
				margin-bottom: 15px;
				font-family: $main-font-family;
				font-size: em(20px);
				letter-spacing: 0.6px;
			}
			p {
				font-family: $font-source;
				font-size: em(14px);
				line-height: 1.5;
			}
		}
		.footer_email {
			border-top: 1px solid #ffab00;
			border-bottom: 1px solid #ffab00;
			margin-bottom: 30px;
			p {
				padding: 10px;
				text-align: center;
				font-family: $main-font-family;
				font-size: em(15px);
				letter-spacing: 2px;
				text-transform: uppercase;
			}
		}
		.footer_social {
			i {
				font-size: em(20px);
				color: #fff;
				cursor: pointer;
				transition: color .3s ease;
				margin-left: 30px;
				&:first-child {
					margin-left: 0;
				}
				&:hover {
					color: darken(#fff, 30%);
				}	
			}
		}

	}
}



@keyframes scal {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.4);
	}
	100% {
		transform: scale(1);
	}
}

@media only screen and (max-width: 1180px) {
	.blocks {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 320px 0 320px;
		grid-template-areas: 
			"new_collections season_sale new_arrivals"
			"new_collections season_sale new_arrivals"
			"new_collections subscribe all_catalog"
			"new_collections subscribe all_catalog";
	}
}
@media only screen and (max-width: 996px) {
	.header_menu {
		.header_container {
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-areas:
				"search social mobile_menu";
		}
		.search {
			grid-area: search;
			#searchBtn {
			}
			.search_input {
				.searchText {
				}
				#search {
				}			
			}
		}
		.navigation {
			grid-area: mobile_menu;
			justify-content: flex-end;
			.mobile-menu {
				display: block; 
				.menu-main-wrap {
					width: 100%;
					margin: 0px 0 0 0%;
					left: 0%;
				}
				.menu-effect_1.active {
					width: 80%;
					opacity: 1;
					visibility: visible; 
					transition: all 0.6s ease 0s;
				}
			}
			>ul {
				display: none;
				li {
					display: block;
					width: 100%;
				}
			}
		}
		.social_network {
			grid-area: social;
			text-align: center;
		}
	}
}
@media only screen and (max-width: 360px) {
	header { 
		.header_info {
			grid-template-columns: 1fr 1fr;
			grid-template-areas:
			    "logo logo"
			    "user_info shop_info";
			.logo {
				grid-area: logo;
				width: 85%;
				margin: 10px auto;
			}
			.user_info {
				grid-area: user_info;
				width: 100%;
				.user_control {
					font-size: em(14px);
					.sign_up {
						&:before {
							content: "| ";
						}
					}
				}
			}
			.shop_info {
				grid-area: shop_info;
				width: 100%;
				i {
					font-size: em(25px);
				}
				.products_info {
					i {
						font-size: em(25px);
					}
					p {
						font-size: em(12px);
						letter-spacing: 0;
						&:after {
							letter-spacing: 0;
							content: ' руб.'
						}
					}
				}

			}
		}
	}
	.header_menu {
		.header_container {
		}
		.search {
			height: 30px;
			#searchBtn {
				font-size: em(25px);
				line-height: 30px;
			}
			.search_input {
				.searchText {
				}
				#search {
					i {
						transition: transform .5s ease;
						
					}
				}			
			}
		}
		.social_network {
			line-height: 30px;
			i {
				font-size: em(20px);
			}
		}
	}
}
@media only screen and (max-width: 760px) {
	.blocks {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(3, 250px);
		grid-template-areas: 
			"new_arrivals new_arrivals"
			"new_collections season_sale"
			"subscribe all_catalog";
	}
}
@media only screen and (max-width: 550px) {
	.blocks {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(5, 220px);
		grid-template-areas:
			"new_arrivals" 
			"new_collections"
			"season_sale"
			"all_catalog"
			"subscribe";
	}
}
.title {
	text-align: center;
	line-height: 1.5;
	padding: 20px 0;
	h1, h3 {
		font-family: $main-font-family;
	} 
	h1 {
		font-size: em(28px);
	}
}

.product_list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.product {
		width: 19%;
		margin: 0 5px;
		&__image {
			img {
				width: 100%;
			}
		}
		&__info {
			text-align: center;
			color: #595959;
			span, p {
				line-height: 1.4;
			}
			&:before {
				content: '';
				display: block;
				width: 40px;
				height: 2px;
				border-radius: 5px;
				margin: 2px auto;
				background-color: #cdcdcd;
			}
		}
		&__brand {
			margin-top: 5px;
			font-size: em(10px);
		}
		&__title {
			font-size: em(15px);
			font-family: $font-source;
			font-weight: bold;
			text-transform: uppercase;
		}
		&__price {
			font-size: em(18px);
			font-family: $font-source;
			font-weight: 300;
			&-old {
				text-decoration: line-through;
				font-size: em(13px);
			}
			&:after {
				content: ' руб.';
			}
		}
	}
}

@media only screen and (max-width: 1080px) {
	.product_list {
		justify-content: center;
		.product {
			width: 25%;
			margin-bottom: 20px;
		}
	}
}
@media only screen and (max-width: 700px) {
	.product_list {
		justify-content: center;
		.product {
			width: 90%;
			margin-bottom: 20px;
		}
	}
	footer {
		.container {
			flex-direction: column;
			.footer-left {
				width: 100%;
				padding: 0 0 15px 0;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				.footer_about {
					h4 {
						text-align: center;
						font-size: em(18px);
					}
				}
			}
			.footer-center {
				width: 100%;
				padding: 15px;
				border-top: 1px solid rgba(255,255,255,.4);
				justify-content: center;
				nav {
					margin: 0 15px;
				}
			}
			.footer-right {
				width: 100%;
				padding: 15px 0 0 0;
				border-top: 1px solid rgba(255,255,255,.4);
				.footer_contact {
					text-align: center;
					p {
						text-transform: uppercase;
					}
				}
				.footer_email {
					font-size: em(20px);
				}
				.footer_social {
					text-align: center;
					font-size: em(30px);
				}
			}
		}
	}
}
@import 'media.scss';
