$output-bourbon-deprecation-warnings: false !default;
@import "bourbon";
@import "reset.scss";
@import 'mixin.scss';
@import 'fonts.scss';
@import 'vars.scss';
@import 'header.scss';

.slider_container {
	width: 100%;
	min-width: 320px;
}

#main_slider {
	position: relative;
	margin-bottom: 20px;
	.main_slider {
		position: relative;
		&:hover .callbacks_nav{
			opacity: 1;
		}
		.callbacks_nav {
			position: absolute;
			z-index: 999999;
			color: white;
			display: block;
			width: 40px;
			height: 40px;
			opacity: .1;
			background-image: url("/static/img/arrow_black.svg");
			background-size: cover;
			top: 50%;
			transition-property: background opacity;
			transition: .3s ease;
			&.prev {
				left: 0;
				transform: translateY(-50%) rotate(180deg);
			}
			&.next {
				right: 0;
				transform: translateY(-50%);
			}
			&:hover {
				background-image: url("/static/img/arrow_white.svg");
			}
		}
		.caption {
			position: absolute;
			top: 50%;
			left: 50%;
			cursor: default;
			transform: translate(-50%, -50%);
			background-color: $slider-caption-bgc;
			padding: 50px 100px;
			text-align: center;
			font-family: $main-font-family;
			text-transform: uppercase;
			color: $color-white;
			transition: padding .5s ease;
			h4 {
				font-size: em(20px);
				letter-spacing: 5px;
				margin: 5px 0;
				transition: font-size .5s ease;
			}
			h2 {
				font-size: em(50px);
				transition: font-size .5s ease;
			}
		}		
	}
}
@keyframes arrow-movement-bottom {
    0% { 
        opacity: 0;
        bottom: 45%;
    }
    50% {
        opacity: 1;
    }
    100% { 
        opacity: 0;
    }
}
@keyframes arrow-movement-top {
    0% { 
        opacity: 0;
        bottom: 64%;
    }
    50% {
        opacity: 1;
    }
    100% { 
        opacity: 0;
    }
}
.arrow-main {
	position: absolute;
	display: block;
	left: 50%;
	bottom: -50px;
	z-index: 99999;
	background-color: rgba(236, 171, 0, 1);
	border-radius: 50%;
	transform: translateX(-50%);
    width: 100px;
	height: 100px;
	opacity: 1;
    cursor: pointer;
    span {
	    height: 2px;
	    margin: 1px;
	    width: 30px;
	    transform-origin: 50% 50%;
    	transform: translate3d(-50%, -50%, 0);
	    display: block;
	    position: absolute;
	    background-color: $color-black;
	    transition: transform 0.6s cubic-bezier(.23,.45,.85,.67);
	    &:nth-child(1), &:nth-child(2){
	    	bottom: 35%;
		    animation-name: arrow-movement-bottom;
		    animation-duration: 2s;
		    animation-iteration-count: infinite;
		    animation-timing-function: ease-in-out;
	    }
	    &:nth-child(3), &:nth-child(4){
	    	bottom: 54%;
		    animation-name: arrow-movement-top;
		    animation-duration: 1.5s;
		    animation-iteration-count: infinite;
		    animation-timing-function: ease-in-out;
	    }
	    &:nth-child(1), &:nth-child(3) {
			transform: rotate(45deg);
			left: 25%;
	    }
	    &:nth-child(2), &:nth-child(4) {
		    transform: rotate(-45deg);
		    left: 45%;
		}
    }
    &:hover {
    	& span {
    		height: 3px;
    	}
		& span:nth-child(1) {
		    transform: rotate(-135deg);
		}
		& span:nth-child(2) {
		    transform: rotate(135deg);
		}
		& span:nth-child(3) {
		    transform: rotate(225deg);
		}
		& span:nth-child(4) {
		    transform: rotate(-225deg);
		}
    }
}

.blocks {
	max-width: 1140px;
	margin: 0 auto;
	padding: 5px 10px 0;
	color: $color-white;
	display: grid;
	grid-template-columns: 290px 1.5fr 1fr 1.5fr;
	grid-template-rows: 320px 0 320px;
	grid-gap: 20px;
	cursor: default;
	grid-template-areas: 
	    "new_collections season_sale season_sale new_arrivals"
	    "new_collections season_sale season_sale new_arrivals"
	    "new_collections subscribe all_catalog all_catalog"
	    "new_collections subscribe all_catalog all_catalog";
	.block {
		background-color: #ebebeb;

		&.new_collections {
			grid-area: new_collections;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			background-image: $block-url-new_collections;
			background-size: cover;
			@include overlay(.2);
			.collection_info {
				text-align: center;
				font-family: $font-merri;
				color: $color-white;
				text-transform: uppercase;
				z-index: 9999;
				.collection_name {
					margin: 30px;
					h2 {
						font-weight: bold;
						font-size: em(25px);
						letter-spacing: 1.5px;
					} 
					p {
						display: block;
						margin: 5px;
						font-weight: 300;
						font-size: em(14px);
						letter-spacing: 1.7px;
					}					
				}
				a {
					font-weight: bold;
					font-size: em(14px);
					color: $color-white;
					padding: 15px 30px;
					background-color: $block-color-new_collections;
					transition-property: background-color color;
					transition: .6s ease;
					&:hover {
						background-color: darken($block-color-new_collections, 10%);
						color: darken($color-white, 90%);
					}
				}
			}
		}
		&.season_sale {
			grid-area: season_sale;
			background-color: $color-light-red;
			&:hover {
				transform: perspective(500px) rotateX(-5deg) rotateY(0deg) rotateZ(0deg);
			}
			.season_sale_info {
				display: flex;
				flex-direction: column;
				justify-content: center;
				text-align: center;
				height: 100%;
				font-family: $font-merri;
				&:hover {
					& h1 {
						color: $color-black;
						animation-name: scal1;
						animation-duration: 1s;
					}
					& p {
						color: $color-black;
					}
				}
				p, h1 {
					color: $color-white;
					text-transform: uppercase;
					transition: color .3s ease;
				}
				p {
					font-weight: 300;
					letter-spacing: 5px;
					line-height: 2;
					font-size: em(16px);
					font-weight: normal;
				}
				h1 {
					line-height: 0.8;
					font-weight: 900;
					font-size: em(100px);
				}
			}
		}
		&.new_arrivals {
			position: relative;
			grid-area: new_arrivals;
			display: flex;
			flex-direction: column;
			justify-content: center;
			background-image: $block-url-new_arrivals;
			background-size: cover;
			@include overlay(.3);
			.arrivals_info {
				text-align: center;
				text-transform: uppercase;
				font-family: $font-merri;
				z-index: 9999;
				h1 {
					font-size: em(25px);
					color: $color-white;
					font-weight: bold;
					margin-bottom: 25px;
					letter-spacing: 2px;
				}
				a {
					font-weight: bold;
					font-size: em(13px);
					color: $color-white;
					padding: 15px 30px;
					background-color: $block-color-new_arrivals;
					transition: background-color .3s ease;
					&:hover {
						background-color: darken($block-color-new_arrivals, 10%);
					}
				}
			}
		}
		&.subscribe {
			position: relative;
			grid-area: subscribe;
			display: flex;
			flex-direction: column;
			justify-content: center;
			background-image: $block-url-subscribe;
			background-size: cover;
			@include overlay(.3);
			.formSubscribe {
				z-index: 9999;
				margin: 0 auto;
				position: relative;
				input {
					font-family: $font-merri;
					font-weight: bold;
					border: none;
					outline: none;
					padding: 5px 10px;
					float: left;
					height: 30px;
					&::placeholder {
						font-size: em(13px);
						color: rgba(0,0,0,.5);
						text-transform: uppercase;
					}
				}	
				button {
					position: relative;
					font-family: $font-merri;
					height: 30px;
					width: 40px;
					font-weight: bold;
					padding: 0;
					border: none;
					background-color: $block-color-subscribe;
					cursor: pointer;
					&:hover i {
						color: #1F3779;
						animation-name: scal;
						animation-duration: .6s;
					}
					i {
						color: rgba(255,255,255,.7);
						display: block;
						line-height: 30px;
						font-size: em(20px);
						transition: color .6s ease;
					}
				}
				#error-subscribe {
					position: absolute;
					bottom: -20px;
					font-size: em(12px);
					font-family: $main-font-family;
					font-weight: 300;
					color: $color-light-red;
					cursor: default;
				}								
			}
			.get_subscribe {
				text-align: center;
				z-index: 9999;
				text-transform: uppercase;
				font-family: $font-merri;
				h2 {
					font-size: em(20px);
					color: $color-white;
					font-weight: 300;
					margin-bottom: 25px;
					letter-spacing: 1.5px;
				}
			}
		}
		&.all_catalog {
			grid-area: all_catalog;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			background-image: $block-url-all_catalog;
			align-items: center;
			background-size: cover;
			@include overlay(.2);
			.catalog_info {
				text-align: center;
				z-index: 9999;
				text-transform: uppercase;
				font-family: $font-merri;
				h2 {
					font-size: em(18px);
					color: $color-white;
					font-weight: 800;
					margin-bottom: 25px;
					letter-spacing: 1px;
				}			
			}
			.get_catalog {
				position: relative;
				display: block;
				background-color: darken($block-color-all_catalog, 10%);
				z-index: 9999;
				text-align: center;
				overflow: hidden;
				padding: 15px 40px 15px 10px;
				font-weight: normal;
				font-family: $font-merri;
				font-size: em(18px);
				text-transform: uppercase;
				color: $color-white;
				transition-property: background-color color;
				transition: .9s ease;
				&:hover {
					background-color: lighten($block-color-all_catalog, 10%);
					color: darken($color-white, 90%);
				}
				&:hover::after {
					border: 12px solid $block-color-all_catalog;
					border-left: 12px solid $color-white;
					right: -5px;
				}
				&:after {
					position: absolute;
					display: block;
					content: '';
					right: 0;
					top: 50%;
					border: 10px solid $block-color-all_catalog; 
					border-left: 10px solid $color-white; 
					transform: translateY(-50%);
					background-color: $color-white;
					transition: all .5s ease;
				}
			}
		}
	}
}
.line-title {
	padding: 30px 0;
	width: 100%;
	overflow: hidden;
	font-family: $main-font-family;
	position: relative;
	text-align: center;
	font-size: em(24px);
	text-transform: uppercase;
	cursor: default;
	&:before, &:after {
		background-color: #bfbfbf;
		bottom: .5ex;
		content: '';
		display: inline-block;
		height: 2px;
		position: relative;
		width: 100%;
	}
	&:before {
		margin-left: -100%;
		right: 15px;
	}
	&:after {
		margin-right: -100%;
		left: 15px;
	}
}

.product_list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	.product {
		width: 19%;
		margin: 0 5px;
		margin-bottom: 25px;
		overflow: hidden;
		position: relative;
		&__image {
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: transform .5s ease;
			}
		}
		&__info {
			cursor: default;
			text-align: center;
			color: #595959;
			background-color: $color-white;
			span, p {
				line-height: 1.4;
			}
			&:before {
				content: '';
				display: block;
				width: 40px;
				height: 2px;
				border-radius: 5px;
				margin: 2px auto;
				background-color: #cdcdcd;
			}
		}
		&__brand {
			margin-top: 5px;
			font-size: em(10px);
			font-family: $font-merri;
			color: $color-black;
		}
		&__title {
			font-size: em(14px);
			font-family: $font-merri;
			font-weight: bold;
			letter-spacing: -0.3px;
			color: $color-black;
			&:first-letter {
				text-transform: uppercase;
			}
		}
		&__price {
			color: $color-black;
			font-size: em(16px);
			font-family: $font-merri;
			font-weight: normal;
			&-old {
				text-decoration: line-through;
				color: #6d6d6d;
				font-size: em(13px);
			}
			&:after {
				content: ' руб.';
			}
		}
		&:hover {
			& img{
				transform: scale(1.1);					
			}
		}
	}
}



.featured_brand {
	margin: 0 0 20px 0;
	.brand_container {
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.brand_item {
		width: 17%;
		img {
			width: 100%;
			display: block;
			margin: 0 auto;
		}
	}
}
footer {
	width: 100%;
	background-color: #292929;
	padding: 60px 0;
	color: $color-white;
	.container {
		justify-content: space-between;
	}
	.footer-left {
		width: 33%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		.footer_logo {
			padding: 10px;
			border: 3px solid $color-orange;
			text-align: left;
			text-transform: uppercase;
			font-family: $main-font-family;
			font-weight: bold;
			font-size: em(30px);
			letter-spacing: 2px;
			margin-bottom: 30px;
			color: $color-orange;
		}
		.footer_about {
			font-family: $font-merri;
			letter-spacing: 0.5px;
			font-size: em(12px);
			color: rgba(255,255,255,.8);
			font-weight: normal;
			padding: 0 20px 0 0;
			line-height: 1.4;
			margin-bottom: 30px;
		}
		.copyright {
			font-family: $main-font-family;
			font-weight: 300;
			line-height: 1.4;
			letter-spacing: 1px;
			text-transform: uppercase;
		}
	}
	.footer-center {
		width: 23%;
		display: flex;
		justify-content: space-around;
		nav {
			h4 {
				font-family: $main-font-family;
				letter-spacing: 0.6px;
				text-align: center;
				font-size: em(20px);
			}

			ul {
				margin-top: 10px;
				li {
					padding: 10px;
					text-align: center;
					transition-property: color background-color;
					transition: .3s ease;
					cursor: pointer;
					&:hover {
						background-color: $color-orange;
					}
					&:hover a { 
						color: #000;
					}
					a {
						font-family: $main-font-family;
						font-size: em(16px);
						color: $color-white;
					}
				}
			}
		}
	}
	.footer-right {
		width: 33%;
		.footer_contact {
			margin-bottom: 30px;
			h3 {
				margin-bottom: 15px;
				font-family: $main-font-family;
				font-size: em(20px);
				letter-spacing: 0.6px;
			}
			p {
				font-family: $font-merri;
				font-size: em(12px);
				line-height: 1.5;
			}
		}
		.footer_email {
			border-top: 1px solid $color-orange;
			border-bottom: 1px solid $color-orange;
			margin-bottom: 30px;
			p {
				padding: 10px;
				text-align: center;
				font-family: $main-font-family;
				font-size: em(15px);
				letter-spacing: 2px;
				text-transform: uppercase;
			}
		}
		.footer_social {
			i {
				font-size: em(20px);
				color: $color-white;
				cursor: pointer;
				transition: color .3s ease;
				margin-left: 30px;
				&:first-child {
					margin-left: 0;
				}
				&:hover {
					color: darken($color-white, 30%);
				}	
			}
		}

	}
}
@import 'about.scss';
@import 'catalog.scss';
@import 'product.scss';
@import 'contacts.scss';
@import 'cart.scss';
@import 'news.scss';
@import 'media.scss';
